<!-- <mat-horizontal-stepper linear>
  <mat-step label="Shipping Address" completed=true>
    <p>Shipping Address Details</p>
    <div>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Billing Address" completed=false>
    <p>Billing Address Detail</p>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order" completed=false>
    <p>Order Details</p>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper> -->

<mat-vertical-stepper linear>
  <mat-step label="Shipping Address">
    <p>Shipping Address Details</p>
    <div>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Billing Address">
    <p>Billing Address Detail</p>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order">
    <p>Order Details</p>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
