<mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
  <mat-tab label="Typography">
    <app-typography></app-typography>
  </mat-tab>

  <mat-tab label="Button">
    <app-button></app-button>
  </mat-tab>

  <mat-tab label="Button Toggle">
    <app-button-toggle></app-button-toggle>
  </mat-tab>

  <mat-tab label="Icon">
    <app-icon></app-icon>
  </mat-tab>

  <mat-tab label="Badges">
    <app-badges></app-badges>
  </mat-tab>

  <mat-tab label="Progress Spinner">
    <app-progress-spinner></app-progress-spinner>
  </mat-tab>

  <mat-tab label="Select">
    <app-select></app-select>
  </mat-tab>

  <mat-tab label="Navbar">
    <app-navbar></app-navbar>
  </mat-tab>
</mat-tab-group>
{{tabRef.selectedIndex}}
