<div style="height: 60vh; padding: 3em;">
  <!-- <mat-form-field floatLabel="always"> -->
  <!-- <mat-form-field floatLabel="never"> -->
  <!-- <mat-form-field floatLabel="auto"> -->
  <mat-form-field hideRequiredMarker appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 char</mat-hint>
  </mat-form-field>

  <mat-form-field hideRequiredMarker appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 char</mat-hint>
  </mat-form-field>

  <mat-form-field hideRequiredMarker appearance="fill" color="warn">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 char</mat-hint>
  </mat-form-field>

  <mat-form-field hideRequiredMarker appearance="outline" color="primary">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 char</mat-hint>
  </mat-form-field>
</div>
