<!-- https://material.angular.io/components/button/api -->
<div>
  <button class="button" mat-button>Material Basic Button</button>
  <button class="button" mat-raised-button>Material Raised Button</button>
  <button class="button" mat-flat-button>Material Flat Button</button>
  <button class="button" mat-stroked-button>Material Stroked Button</button>
</div>

<div>
  <button class="button" mat-icon-button>Icon</button>
  <button class="button" mat-fab>Fab</button>
  <button class="button" mat-mini-fab>Minifab</button>
</div>

<div>
  <button class="button" color="primary" mat-button>Primary</button>
  <button class="button" color="accent" mat-button>Accent</button>
  <button class="button" color="warn" mat-button>Warn</button>

  <button class="button" color="primary" mat-raised-button>Primary</button>
  <button class="button" color="accent" mat-raised-button>Accent</button>
  <button class="button" color="warn" mat-raised-button>Warn</button>
</div>

<div>
  <button disableRipple mat-raised-button>Disabled Ripple Effect</button>
</div>
